body * {
  /* outline: 1px solid red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.fa-store {
  font-size: 33pt;
  margin-left: 10px;
}
header {
  background-color: rgb(31, 32, 34);
  color: white;
  margin-bottom: 20px;
}
header .head-wrapper {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header h1, h5 {
  display: inline;
  margin: 0;
  padding: 0;
}
header .btn {
  background-color: rgb(54, 173, 224);
}
header .btn:hover {
  background-color: rgb(47, 131, 166);
}
header .head-left {
  /* outline: 1px solid red; */
  /* background-color: rgb(96, 173, 179); */
}
header img.logo {
  display: inline-block;
  vertical-align: top;
}
header .head-left h1 {
  /* background-color: red; */
  margin-top: 30px;
  width: 300px;
  min-height: 20px;
}
header .head-right {
  margin-right: 30px;
}
header a {
  color: white;
  /* text-shadow: 3px 3px 10px black; */
}
header a:hover {
  color: yellow;
  text-decoration: none;
}
header input::placeholder {
  text-align: center;
}
header input {
  text-align: center;
}
header {
  box-shadow: 0 2px 25px gray;
}

/* ==== main==================== */
.main-wrapper * {
  /* outline: 1px solid red; */
}
div.main-left,
div.main-right {
  display: inline-block;
  vertical-align: top;
}


/* ==========================
   ===    👈 LEFT SIDE   ===
   ==========================
*/
.main-left * {
  /* outline: 1px solid red; */
}
div.main-left {
  /* outline: 1px solid red; */
  width: 20%;
  min-height: 30%;
  /* background-color: azure; */
  margin-left: -30px;
  margin-right: 20px;
  padding: 20px;
  /* box-shadow: 1px 1px 10px gray; */
  /* border-radius: 10px; */
  border-right: 1px solid grey;
}
.main-left h4 {
  margin-bottom: 10px;
}
.main-left li {
  list-style-type: none;
  margin-left: 20px;
  padding: 5px;
}

/* ==========================
   ===     RIGHT SIDE 👉  ===
   ==========================
*/
div.main-right * {
  /* outline: 1px solid red; */
}

div.main-right {
  /* background-color: bisque; */
  width: 78%;
  box-shadow: 4px 4px 30px grey;
}
div.top-products {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
div.top-products h4,
div.pages-top-right,
div.pages-top-right p {
  display: inline-block;
  vertical-align: top;
}
div.sorted-by p,
div.sorted-by select {
  display: inline-block;
  vertical-align: top;
}

/* --------------------------- 
    main products container
    -----------------------*/
div.products-container {
  /* background-color: aquamarine; */
  padding: 15px;
  /* display: flex;
  justify-content: space-between; */
}
div.products-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

div.product-box {
  z-index: 10;
  width: 23%;
  min-height: 100px;
  /* background-color: blue; */
  position: relative;
  transition: transform 0.2s; /* Animation */
}
div.product-box:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
div.product-box img {
  width: 100%;
}
div.product-box a {
  color: rgb(31, 32, 34);
}
div.product-box a:hover {
  text-decoration: none;
  color: rgb(31, 32, 34);
}
div.img-holder {
  position: relative;
  transition: transform 0.2s; /* Animation */
}

div.product-box .text-product-block {
  z-index: 2;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.329);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* ------------ low pagination----- */
div.pagination {
  display: flex;
  justify-content: center;
}
/* 












 */

.disclaimer {
  z-index: 100;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  /* box-shadow: 2px 2px 20px grey; */
}
