<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Inventory</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/logged_in.css' %}" />
  </head>
  <div class="wrapper">
    <header>
      <div class="left">
        <h1>Dashboard</h1>
        <h2><a href="/dashboard/orders">Orders</a></h2>
        <h2><a href="/dashboard/products">Products</a></h2>
      </div>
      <div class="right">
        <a href="/admin/logout">Log Out</a>
      </div>
    </header>
    <body>
      <div class="toolbar">
        <div class="toolbar_left">
          <p>Big Search Bar</p>
        </div>
        <div class="toolbar_right">
          <button>
            <a href="/dashboard/products/form">Add new product</a>
          </button>
        </div>
      </div>
      <div class="table">
        <table>
          <tr>
            <th>Picture</th>
            <th>ID</th>
            <th>Name</th>
            <th>Inventory Count</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
          {% for product in products %}
          <tr>
            <td>{{product.img}}</td>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.inventory_count}}</td>
            <td>{{product.quantity}}</td>
            <td>
              <a href="">Order More</a> |
              <a href="dashboard/products/edit/{{product_id}}">Edit</a> |
              <a href="">Delete</a>
            </td>
            {% endfor %}
          </tr>
        </table>
      </div>
    </body>
    <footer>
      <p>
        <a href="">1</a> | <a href="">2</a> | <a href="">3</a> |
        <a href="">4</a> | <a href="">5</a> | <a href="">6</a> |
        <a href="">7</a> | <a href="">8</a> | <a href="">9</a> |
        <a href="">10</a> | <a href="">-></a>
      </p>
    </footer>
  </div>
</html>
