<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specific Order Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/logged_in.css' %}" />
  </head>
  <div class="wrapper">
    <header>
      <div class="left">
        <h1>Dashboard</h1>
        <h2><a href="______">Orders</a></h2>
        <h2><a href="______">Products</a></h2>
      </div>
      <div class="right">
        <a href="_______">Log Out</a>
      </div>
    </header>
    <body>
      <div class="desc_left">
        <h4>Order Id: ________</h4>
        <div class="shipping_info">
          <p>Customer shipping info:</p>
          <p>Name: _____</p>
          <p>Address: _________</p>
          <p>City: _____</p>
          <p>State: _____</p>
          <p>Zip: ____</p>
        </div>
        <div class="billing_info">
          <p>Customer billing info:</p>
          <p>Name: _____</p>
          <p>Address: _________</p>
          <p>City: _____</p>
          <p>State: _____</p>
          <p>Zip: ____</p>
        </div>
      </div>
      <div class="desc_right">
        <table>
          <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          <tr>
            <td>(Order ID) 100</td>
            <td>Baby Yoda T-Shirt</td>
            <td>$9.99</td>
            <td>2</td>
            <td>$19.98</td>
          </tr>
        </table>
        <div class="desc_status">
          <div class="status">
            <p>Status: ______</p>
          </div>
          <div class="receipt">
            <p>Sub total: $19.98</p>
            <p>Shipping: $3.00</p>
            <p>Total Price: $22.98</p>
          </div>
        </div>
      </div>
    </body>
    <footer>
      <p>
        <a href="">1</a> | <a href="">2</a> | <a href="">3</a> |
        <a href="">4</a> | <a href="">5</a> | <a href="">6</a> |
        <a href="">7</a> | <a href="">8</a> | <a href="">9</a> |
        <a href="">10</a> | <a href="">-></a>
      </p>
    </footer>
  </div>
</html>
